name: Python package
on: [push]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Lint with flake8
      run: |
        pip install flake8 flake8-bugbear
        flake8 . --count --select=E9,F,B,B9 --show-source --statistics
    - name: Type check with mypy
      uses: tsuyoshicho/action-mypy@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: github-check
    - name: Check formatting with black
      uses: psf/black@stable

  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version:
          - 3.6
          - 3.7
          - 3.8
          - 3.9
          - 3.10-dev

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install .
    - name: Test /dev/null
      run: |
        python -m sphinxify < /dev/null
    - name: Test corpus
      run: tests/test.sh

  publish:
    runs-on: ubuntu-latest
    needs: [check, test]
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Build packages
      run: |
        pip install flit
        flit build
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@v1.4.1
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
